* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  list-style: none;
}

body {
  background: #f7f7f7;
}

.content {
  width: 100%;
  height: calc(100vh);
}

main {
  width: 100%;
  min-height: calc(100vh - 150px);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 45px 200px 45px 130px;
}
